<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Title</title>
    <th:block th:replace="/layout/head :: head"/>

    <link href="../../assets/css/style.css" rel="stylesheet">
</head>
<body data-layout="horizontal">
<div id="wrapper">
    <th:block th:replace="/layout/header :: header"/>
    <div class="content-page">

        <div class="container-fluid">
            <div class="products">
                <ul id="panel-product">
                </ul>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="/layout/script :: script"/>

<script src="assets/js/app/App.page.js"></script>

<script>
    function getAllProducts() {
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: "http://localhost:8080/api/products"
        })
            .done((data) => {

                $.each(data, (i, item) => {
                    let str = AppPage.renderProductItem(item);
                    $("#panel-product").prepend(str);
                })

                // handleAddCart();

            })
            .fail((jqXHR) => {
                console.log((jqXHR));
            })
    }

    $(() => {
        getAllProducts();
    })
</script>
</body>
</html>